.button {
  width: fit-content;
  height: fit-content;
  /* max-width: 34%;
  max-height: 34%; */
	/* overflow: ellipsis; */
	border-radius: 3px;
  padding: 10px;
  transition: 
    background-color 0s, 
    /* box-shadow 0.5s, */
  ;
}

.button:active {
  background-color: #1ca8a4 !important;
}

.div-button {
  border-radius: 3px;
  transition: 
    background-color 0s, 
    /* box-shadow 0.5s, */
  ;
}

.div-button:active {
  background-color: #1ca8a4 !important;
}




#mapListScrollbar {
  justify-content: flex-start;
  height: 72px; 
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: auto;
  overflow-x: scroll;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  /* width: 100%; */
  /* overflow-y: scroll; */
  /* background: red; */
}

/* #mapListScrollbar::-webkit-scrollbar,
#mapSection::-webkit-scrollbar,
#mapListSection::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important
} */


.filter-toggle {
  height: 82%;
  width: 175px;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;
  font-size: 12px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.spacer-div {
  width: 2.5px;
}