

.bg-primary {
	background-color: #0abab5 ;
}

.bg-primary-outline {
	border: 2px solid #0abab5 ;
	background: transparent ;
	color: #f5f5f5 ;
	/* border-radius: "5px"; */
}

.bg-grey-outline {
	border: 2px solid #626262;
	background: transparent;
	color: #626262;
	/* border-radius: "5px"; */
}

.bg-primary-light {
	background-color: #0ce9e2 ;
}

.bg-primary-dark {
	background-color: #089591 ;
}

.bg-primary-xlight {
	background-color: #c2e9e6;
}

.bg-primary-xdark {
	background-color: #193c3a;
}

.bg-primary-desat {
	background-color: #1ca8a4;
}

.bg-primary-xsat {
	background-color: #089591;
}

.bg-primary-invert {
	background-color: #f5454a;
	color: #f5f5f5;
}

.bg-primary-invert-outline {
	border: 2px solid #f5454a;
	background: transparent;
	color: #f5454a;
	/* border-radius: "5px"; */
}

.bg-primary-compl {
	background-color: #aa1a30;
}

.bg-primary-gray {
	background-color: #626262;
}









.bg-secondary {
	background-color: #0abab5;
}

.bg-secondary-light {
	background-color: #0ce9e2;
}

.bg-secondary-dark {
	background-color: #089591;
}

.bg-secondary-xlight {
	background-color: #c2e9e6;
}

.bg-secondary-xdark {
	background-color: #193c3a;
}

.bg-secondary-desat {
	background-color: #1ca8a4;
}

.bg-secondary-xsat {
	background-color: #089591;
}

.bg-secondary-invert {
	background-color: #f5454a;
}

.bg-secondary-compl {
	background-color: #aa1a30;
}

.bg-secondary-gray {
	background-color: #626262;
}