

.bg-primary {
	background-color: #0abab5;
}

.bg-primary-light {
	background-color: #0ce9e2;
}

.bg-primary-dark {
	background-color: #089591;
}

.bg-primary-xlight {
	background-color: #c2e9e6;
}

.bg-primary-xdark {
	background-color: #193c3a;
}

.bg-primary-desat {
	background-color: #1ca8a4;
}

.bg-primary-xsat {
	background-color: #089591;
}

.bg-primary-invert {
	background-color: #f5454a;
}

.bg-primary-compl {
	background-color: #aa1a30;
}

.bg-primary-gray {
	background-color: #626262;
}





